.dockerignore
# there are valid reasons to keep the .git, namely so that you can get the
# current commit hash
.git
.log
tmp

# Mix artifacts
_build
deps
*.ez
releases

# Generate on crash by the VM
erl_crash.dump

# Static artifacts
node_modules
lib/algora_cloud/pyscripts

# Env files
.env
.env*.local
.env.dev
.env.prod
.env.staging

# Local files
/tmp
/.local
/.lexical
/priv/cache
/priv/github
*.patch
/.fly
/xref*
/priv/domain_blacklist.txt
/priv/plts
/priv/db
/priv/puppeteer
/.playwright-mcp